.entry-body {
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  
  .entry-right-body {
    flex-direction: column;
    justify-content: center;
  }
  
  .entry-title {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 0 0 5px;
  }
  
  .entry-subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #DB5E25;
    margin: 0;
  }